//tabs
.tabs-container{
    position: relative;
    nav{
        height:4.4rem;
        border-bottom:1px solid $light-grey;
        .flex{
            margin-right:0;
            margin-left:0;
        }
        li{
            padding:0;
            list-style:none;
            &:last-child label{
                border-right:1px solid $light-grey;
            }
            &.flex-item{
                margin:0;
            }
        }
        label{
            display: inline-block;
            width:100%;
            box-sizing: border-box;
            padding:10px 15px;
            border-top:1px solid $light-grey;
            border-left:1px solid $light-grey;
            font-weight:bold;
            background-color: $super-light-grey;
            cursor:pointer;
        }
        input{
            display:none;
        }
        input:checked ~ label{
            border-bottom:2px solid $snow;
            background-color:transparent;
        }
    }
    
    .tab-list{
         border:1px solid $light-grey;
         border-top:0;
         padding:20px;
     }
   

    .tab-list > div{
        display:none;
        &.active{
            display:block;
        }
    }
}


//Accordion
.accordion{
    .toggle-accordion{
        display:none;
    }
    .toggle-accordion:checked  ~ .accordion-content{
        transition: max-height 0.3s ease-out;
        max-height: 1000px;
    }
}
.accordion-wrapper{
    position:relative;
    margin-bottom:5px;
    label{
        position: relative;
        display: block;
        cursor: pointer;
        padding-left:1rem;
        font-size:1.4rem;
        line-height: 1.6rem;
        border-bottom: 1px solid $light-grey;
    }
    label:after{
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size:1rem;
        content: "\f0d7";
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        @include align-right;
    }
    .toggle-accordion:checked ~ label:after{
        content: "\f0d8";
    }
}

.accordion-content{
    position: relative;
    max-height: 0px;
    height: auto;
    overflow: hidden;
    z-index: 10;
    transition: max-height 0.3s ease-out;
}