//Alert boxes, media, modals and badges

.alert{
    padding:15px;
    margin-bottom:20px;
    transition:all 0.3s ease-out;
    .close{
        float:right;
        color:#000;
        opacity:0.3;
        border:none;
        background-color:transparent;
        transition:opacity 0.3s ease-out;
        cursor:pointer;
        &:hover{
            opacity:0.6;
        }
    }
     span:before{
     font-family: FontAwesome;
     display:inline-block;
     margin-right:5px;
    }
}

.alert-info{
    background-color:$sky-blue;
    color:$snow;
    span:before{
     content:'\f05a';
    }
}

.alert-error{
    background-color:$hot-red;
    color:$snow;
    span:before{
     content:'\f071';
    }
}

.alert-warning{
    background-color:$gold-yellow;
    color:$snow;
    span:before{
     content:'\f071';
    }
}

.alert-success{
    background-color:$green;
    color:$snow;
    span:before{
     content:'\f00c';
    }
}

//Mask
/*masks are used in combination with modals*/
.mask{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color:rgba(255, 255, 255, 0.8);
    z-index: 100;
    visibility:hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
    &.mask-on{
      visibility:visible;
      opacity:1;
    }
}

.modal{
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 101;
    background-color:$snow;
}

.modal-header{
        background-color:$azure;
        color:$snow;
        min-height:40px;
        line-height:40px;
        padding:10px;
}

.modal-body, .modal-footer{
    padding:10px;
}

/***badges***/

.badge{
    border-radius: 50%;
    position:absolute;
    width:18px;
    height:18px;
    line-height:18px; 
    font-size:10px;
    text-align:center;
}

.badge-left{
    top:-5px;
    left:0;
}

.badge-right{ 
    top:2px;
    right:0;
}

.badge-blue{
    background-color:$sky-blue;
    color:$snow;
}

.badge-purple{
    background-color:$purple;
    color:$snow;
}

.badge-red{
    background-color:#FE5E3A;
    color:$snow;
}

//Labels
.label{
    display:inline-block;
    position:relative;
    width:100%;
    font-size:1.2rem;
    border:0.1rem solid transparent;
    text-align:center;
    padding:0.3rem 0.6rem;
    &:before{
      @include add-icon('\f00d', '0.8rem');
      position:absolute;
      top:0.4rem;
      right:0.5rem;
      cursor: pointer;
    }
  }
  .label-default{ 
    background-color:$light-grey;
  }
  
  .label-info{
    background-color:$azure;
    color:$snow;
  }
  
  .label-success{
    background-color:$green;
    color:$snow;
  }

  //Tips  
  .tip-top{
    @include tip(top, after, $dark-grey, $snow);
    @include tip(top, before, $dark-grey, '');
    &.info{
        @include tip(top, after, $azure, $snow);
        @include tip(top, before, $azure, '');
    }
    &.warning{
        @include tip(top, after, $yellow, $snow);
        @include tip(top, before, $yellow, '');
    }
    &.alert{
        @include tip(top, after, $red, $snow);
        @include tip(top, before, $red, '');
    }
    &.success{
        @include tip(top, after, $green, $snow);
        @include tip(top, before, $green, '');
    } 
  }
  .tip-right{
    @include tip(right, after, $dark-grey, $snow);
    @include tip(right, before, $dark-grey, '');
    &.info{
        @include tip(right, after, $azure, $snow);
        @include tip(right, before, $azure, '');
    }
    &.warning{
        @include tip(right, after, $yellow, $snow);
        @include tip(right, before, $yellow, '');
    }
    &.alert{
        @include tip(right, after, $red, $snow);
        @include tip(right, before, $red, '');
    }
    &.success{
        @include tip(right, after, $green, $snow);
        @include tip(right, before, $green, '');
    } 
  }
  .tip-bottom{
    @include tip(bottom, after, $dark-grey, $snow);
    @include tip(bottom, before, $dark-grey, '');
    &.info{
        @include tip(bottom, after, $azure, $snow);
        @include tip(bottom, before, $azure, '');
    }
    &.warning{
        @include tip(bottom, after, $yellow, $snow);
        @include tip(bottom, before, $yellow, '');
    }
    &.alert{
        @include tip(bottom, after, $red, $snow);
        @include tip(bottom, before, $red, '');
    }
    &.success{
        @include tip(bottom, after, $green, $snow);
        @include tip(bottom, before, $green, '');
    } 
  }
  .tip-left{
    @include tip(left, after, $dark-grey, $snow);
    @include tip(left, before, $dark-grey, '');
    &.info{
        @include tip(left, after, $azure, $snow);
        @include tip(left, before, $azure, '');
    }
    &.warning{
        @include tip(left, after, $yellow, $snow);
        @include tip(left, before, $yellow, '');
    }
    &.alert{
        @include tip(left, after, $red, $snow);
        @include tip(left, before, $red, '');
    }
    &.success{
        @include tip(left, after, $green, $snow);
        @include tip(left, before, $green, '');
    } 
  }