.site-sidebar{
    width:240px;
    height: 100%;
    background-color: $snow;
    position: fixed;
    top:0;
    left:0;
    overflow-y: auto;
    transition:width 0.3s ease-out;

}

#__next .content-wrapper{
    transition:margin 0.3s ease-out;
}

#__next .content-wrapper.close{
    margin-left:60px;
    .site-sidebar{
        width:60px;
    }
    .library-menu li{
        label:before, label:after{
            display:none;
        }
        &:after{
            display:none;
        }
        a:before, a:after{
            display:none;
        }
        label, a{
            text-align: center;
        }
        input:checked ~ .accordion-content{
            border:none;
            position: absolute;
            left:60px;
            width: 100%;
            max-width: 200px;
            background-color: $snow;
        }
    }
}
.library-menu{
    border:none;
    & > li{
        &:nth-child(2){
            &.active{
              border-top:1px solid $snow;
              .accordion label{
                  color:$snow;
              }
            }
        }
        position: relative;
        &.active{
            background-color: $azure;  
        }
        a:after{
           content:attr(title);
           padding-left:10px;
        }
        a:hover,
        &.active a, 
        &.active:after{
            color:$snow;
        }
        input:checked ~ .accordion-content{
            border:none;
        }
        &:before{
            content:'';
            display: block;
            width:0;
            height:100%;
            position: absolute;
            top:0;
            left:0;
            background-color: $azure;
            transition:width 0.2s ease-out;
            z-index: -1;
        }
        &:hover{
            a,
            &:after{
              color:$snow;
              z-index: 1;
            }
            &:before{
                width:100%;
            } 
        }
    }
    .accordion-item{
        label{
            padding:inherit;
            border:none;
        }
    }
}

.library-menu > li:after{
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size:1rem;
    content: "\f054";
    font-style: normal; 
    font-variant: normal;
    text-rendering: auto;
    @include align-right;
    margin-right:2rem;
    //color:$azure;
}
.library-menu > li:first-child{
    padding:0;
}
.library-menu > li:first-child:after, li:nth-child(2):after{
    content:'';
    display: none;
}


.library-menu > li > a, .library-menu > li:nth-child(2) label{
    font-weight: 400;
    line-height: 4rem;
    color:$middle-grey;
    transition:color 0.3s ease-out;
    border-bottom:none;
    &:hover{
        color:$snow;
    }
}
li:nth-child(2) label:before{
    content: attr(title);
    font-family: inherit;
    font-weight: normal;
    position:absolute;
    left: 20px;
}
.grid-types {
    li{
     transition: background 0.3s ease-out;
     &:hover, &.active{
         background-color: rgba(255,255,255, 0.3);
     }
    }
    a{
     font-size:1.2rem;
     line-height: 1.4rem;
    }
}

.logo-holder{
    width:100%;
    height:60px;
    background-color: $azure;
}
