//main file 
//Load variables
@import "style-guide/numbers";
@import "style-guide/colors";

//Layout
@import "style-guide/reset";
@import "style-guide/mixins";

// Load style-guide
@import "style-guide/typography";
@import "style-guide/grid";
@import "style-guide/grid-layout";
@import "style-guide/flex-grid";
@import "style-guide/forms";
@import "style-guide/lists";
@import "style-guide/tables";
@import "style-guide/accordions-and-tabs";
@import "style-guide/modals";
@import "style-guide/widgets";
@import "style-guide/helpers";

//custom style
@import "_header.scss";
@import "_aside.scss";
@import "_grid-system.scss";

#__next{
   height: 100%; 
}
.content-wrapper{
    box-sizing: border-box;
    margin-left:240px; 
}

  


