//main file 
//import Comfortaa font family
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700');

//Load variables
@import "style-guide/numbers";
@import "style-guide/colors";

//Layout
@import "style-guide/reset";
@import "style-guide/mixins";

// Load style-guide
@import "style-guide/typography";
@import "style-guide/grid";
@import "style-guide/grid-layout";
@import "style-guide/flex-grid";
@import "style-guide/forms";
@import "style-guide/lists";
@import "style-guide/tables";
@import "style-guide/accordions-and-tabs";
@import "style-guide/modals";
@import "style-guide/widgets";
@import "style-guide/helpers";

//custom style
@import "_header.scss";
@import "_aside.scss";
@import "_grid-system.scss";
@import "_miscellaneous.scss";

#__next{
   height: 100%; 
}
.content-wrapper{
    display: flex; 
    box-sizing: border-box;
    min-height:100%;
}
main.content{
    padding-top: 6rem;
}
.library-banner{
    display: inline-block;
    width:100%;
    max-width: 499px;
}

  


